<ion-tabs [class]=""  >
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/roadmap">
      <ion-icon name="git-network" [color]="currentRoute === '/roadmap' ? 'primary' : undefined"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="/materiais">
      <ion-icon name="book" [color]="currentRoute === '/materiais' ? 'primary' : undefined"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="/home">
      <ion-icon name="home" [color]="currentRoute === '/home' ? 'primary' : undefined"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="/cursos">
      <ion-icon name="trophy" [color]="currentRoute === '/cursos' ? 'primary' : undefined"></ion-icon>
    </ion-tab-button>
    <ion-tab-button href="/user">
      <ion-icon name="person" [color]="currentRoute === '/user' ? 'primary' : undefined"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
