<ion-content>
  <div class="particle" *ngFor="let particle of particles" [ngStyle]="{'transform': 'translate(' + particle.x + 'px, ' + particle.y + 'px)'}"></div>

  <div class="h-screen w-screen overscroll-y-auto bg-cover bg-center flex flex-col justify-center">
    <div class="h-fit pt-28 pb-10 z-10">
      <ion-title class="text-4xl text-center font-bold text-white mb-6 font-sans">Criar conta</ion-title>
      <div class="w-11/12 mx-auto px-5 py-5 h-fit flex flex-col gap-2 rounded-md shadow-lg border border-primary bg-secondary">

        <div (click)="selectImage()" class="border-2 border-primary bg-secondary w-52 h-52 rounded-full relative mx-auto flex justify-center items-center">
          <ion-icon *ngIf="!user.imageUrl" name="person" class="text-9xl"></ion-icon>
          <img *ngIf="user.imageUrl" [src]="user.imageUrl" class="w-full h-full rounded-full object-cover">
          <div  class="absolute bg-primary bottom-5 right-2 w-8 h-8 rounded-full text-white flex justify-center ion-text-center">
            <ion-icon name="pencil" class="text-lg mt-1.5"></ion-icon>
          </div>
        </div>

        <ion-input
          type="email"
          fill="solid"
          label="Email"
          labelPlacement="floating"
          [(ngModel)]="user.email"
          class="custom"
          required
        ></ion-input>
        <ion-input
          type="text"
          fill="solid"
          label="Nome"
          labelPlacement="floating"
          [(ngModel)]="user.name"
          class="custom"
          required
        ></ion-input>
        <ion-input
          type="password"
          fill="solid"
          label="Senha"
          labelPlacement="floating"
          [(ngModel)]="user.password"
          class="custom"
          required
        ></ion-input>
        <ion-textarea
          label="Biografia"
          labelPlacement="floating"
          class="custom"
          required
        ></ion-textarea>
        <ion-input
          type="date"
          fill="solid"
          label="Data de nasc."
          labelPlacement="floating"
          [(ngModel)]="user.birthdate"
          class="custom"
          required
        ></ion-input>

        <ion-select placeholder="Selecione um genêro" interface="popover" fill="outline">
          <ion-select-option value="male">Masculino</ion-select-option>
          <ion-select-option value="female">Feminino</ion-select-option>
          <ion-select-option value="other">Outro</ion-select-option>
        </ion-select>

        <ion-select placeholder="Selecione seus intereses" interface="action-sheet" fill="outline" [multiple]="true">
          <ion-select-option *ngFor="let interest of interests" [value]="interest.idInterest">{{ interest.text }}</ion-select-option>
        </ion-select>

        <ion-button [disabled]="!(user.email?.length > 2 && user.password?.length > 2)" (click)="onSubmit()">
            <span class="font-bold text-white">
              Criar
            </span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
